{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %} 

		<h1>Rango says...</h1>
		<div>
			Oh no partner! I am being chased by a big cat!! he is going to eat me! Someone help! Quick! back to the index page! <br />
			This tutorial has been put together by Stewart Brown. <br/>
			<p>visits: {{ visits }}</p> <br/>
		</div>
		
		<div>
			<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> 
			<img src="{{ MEDIA_URL}}cat.jpg" />
		</div>

{% endblock %}